{include="header"}

   <div class="container-fluid" style="margin-top: 10px;">
      <div class="row">
         <div class="col-sm-6">
            <div class="btn-group hidden-xs">
               <a class="btn btn-sm btn-default" href="{$fsc->url()}" title="Recargar la página">
                  <span class="glyphicon glyphicon-refresh"></span>
               </a>
               {if condition="$fsc->page->is_default()"}
               <a class="btn btn-sm btn-default active" href="{$fsc->url()}&amp;default_page=FALSE" title="Desmarcar como página de inicio">
                  <span class="glyphicon glyphicon-home"></span>
               </a>
               {else}
               <a class="btn btn-sm btn-default" href="{$fsc->url()}&amp;default_page=TRUE" title="Marcar como página de inicio">
                  <span class="glyphicon glyphicon-home"></span>
               </a>
               {/if}
            </div>
         </div>
         <div class="col-sm-6 text-right">
            <h2 style="margin-top: 0px;">Dashboard</h2>
         </div>
      </div>
   </div>
   
   <div class="container-fluid">
      <section class="content">
         
         <!-- Inicio Fila 1 de widgets -->
         <div class="row">
            {if condition="in_array('presupuestos_y_pedidos',$GLOBALS['plugins'])"}
            <!-- Widget 1x1 -->
            <div class="col-lg-6 col-sm-6 col-xs-12">
               <div class="bs-callout bs-callout-info">
                  <div class="inner">
                     <h4><strong><span class="text-capitalize">{#FS_PRESUPUESTOS#}</span> de clientes</strong></h4>
                  </div>
                  <div class="text-center">
                     <br/>
                     <ul class="list-group">
                        <li class="list-group-item list-group-item-info clickableRow" href="index.php?page=ventas_presupuestos">
                           <i class="glyphicon glyphicon-list"></i> Realizados <span class="badge">{loop="$fsc->num_presupuestos()"}{$value["total"]}{/loop}</span>
                        </li>
                        <li class="list-group-item list-group-item-warning clickableRow" href="index.php?page=ventas_presupuestos&pendientes=TRUE">
                           <i class="glyphicon glyphicon-time"></i> Pendientes <span class="badge">{loop="$fsc->num_presupuestos_pendientes()"}{$value["total"]}{/loop}</span>
                        </li>
                        <li class="list-group-item list-group-item-danger clickableRow" href="index.php?page=ventas_presupuestos&rechazados=TRUE">
                           <i class="glyphicon glyphicon-remove"></i> Rechazados <span class="badge">{loop="$fsc->num_presupuestos_rechazados()"}{$value["total"]}{/loop}</span>
                        </li>
                        <li class="list-group-item list-group-item-success">
                           <i class="glyphicon glyphicon-ok"></i> Aprobados <span class="badge">{loop="$fsc->num_presupuestos_aprobados()"}{$value["total"]}{/loop}</span>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
            {else}
            {if condition="$show_presupuestos_y_pedidos==TRUE"}
            <div class="col-lg-6 col-sm-6 col-xs-12">
               <div class="bs-callout bs-callout-info">
                  Se requiere el plugin <strong>Presupuestos y pedidos</strong> para ver información sobre los presupuestos
               </div>
            </div>
            {/if}
            {/if}
            <!-- Widget 1x2 -->
            {if condition="in_array('presupuestos_y_pedidos',$GLOBALS['plugins'])"}
            <div class="col-lg-6 col-sm-6 col-xs-12">
               <div class="bs-callout bs-callout-success">
                  <div class="inner">
                     <h4><strong><span class="text-capitalize">{#FS_PEDIDOS#}</span> de clientes</strong></h4>
                  </div>
                  <div class="text-center">
                     </br>
                     <ul class="list-group">
                        <li class="list-group-item list-group-item-info clickableRow" href="index.php?page=ventas_pedidos">
                           <i class="glyphicon glyphicon-list"></i> Realizados <span class="badge">{loop="$fsc->num_pedidos()"}{$value["total"]}{/loop}</span>
                        </li>
                        <li class="list-group-item list-group-item-warning clickableRow" href="index.php?page=ventas_pedidos&pendientes=TRUE">
                           <i class="glyphicon glyphicon-time"></i> Pendientes <span class="badge">{loop="$fsc->num_pedidos_pendientes()"}{$value["total"]}{/loop}</span>
                        </li>
                        <li class="list-group-item list-group-item-danger clickableRow" href="index.php?page=ventas_pedidos&rechazados=TRUE">
                           <i class="glyphicon glyphicon-remove"></i> Rechazados <span class="badge">{loop="$fsc->num_pedidos_rechazados()"}{$value["total"]}{/loop}</span>
                        </li>
                        <li class="list-group-item list-group-item-success">
                           <i class="glyphicon glyphicon-ok"></i> Aprobados <span class="badge">{loop="$fsc->num_pedidos_aprobados()"}{$value["total"]}{/loop}</span>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
            {else}
            {if condition="$show_presupuestos_y_pedidos==TRUE"}
            <div class="col-lg-6 col-sm-6 col-xs-12">
               <div class="bs-callout bs-callout-success">
                  Se requiere el plugin <strong>Presupuestos y pedidos</strong> para ver información sobre los pedidos
               </div>
            </div>
            {/if}
            {/if}
            <!-- Widget 1x3 -->
            <div class="col-lg-6 col-sm-6 col-xs-12">
               <div class="bs-callout bs-callout-warning">
                  <div class="inner">
                     <h4><strong><span class="text-capitalize">{#FS_ALBARANES#}</span> de clientes</strong></h4>
                  </div>
                  <div class="text-center">
                     </br>
                     <ul class="list-group">
                        <li class="list-group-item list-group-item-info clickableRow" href="index.php?page=ventas_albaranes">
                           <i class="glyphicon glyphicon-list"></i> Realizados <span class="badge">{loop="$fsc->num_albaranes()"}{$value["total"]}{/loop}</span>
                        </li>
                        <li class="list-group-item list-group-item-warning clickableRow" href="index.php?page=ventas_albaranes&ptefactura=TRUE">
                           <i class="glyphicon glyphicon-time"></i> Pendientes <span class="badge">{loop="$fsc->num_albaranes_pendientes()"}{$value["total"]}{/loop}</span>
                        </li>
                        <li class="list-group-item list-group-item-success">
                           <i class="glyphicon glyphicon-ok"></i> Aprobados <span class="badge">{loop="$fsc->num_albaranes_aprobados()"}{$value["total"]}{/loop}</span>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
            <!-- Widget 1x4 -->
            <div class="col-lg-6 col-sm-6 col-xs-12">
               <div class="bs-callout bs-callout-danger">
                  <div class="inner">
                     <h4><strong><span class="text-capitalize">Facturas</span> de clientes</strong></h4>
                  </div>
                  <div class="text-center">
                     </br>
                     <ul class="list-group">
                        <li class="list-group-item list-group-item-info clickableRow" href="index.php?page=ventas_facturas">
                           <i class="glyphicon glyphicon-list"></i> Realizados <span class="badge">{loop="$fsc->num_facturas()"}{$value["total"]}{/loop}</span>
                        </li>
                        <li class="list-group-item list-group-item-danger clickableRow" href="index.php?page=ventas_facturas&sinpagar=TRUE">
                           <i class="glyphicon glyphicon-exclamation-sign"></i> Sin cobrar <span class="badge">{loop="$fsc->num_facturas_sin_cobrar()"}{$value["total"]}{/loop}</span>
                        </li>
                        <li class="list-group-item list-group-item-success">
                           <i class="glyphicon glyphicon-briefcase"></i> Cobradas <span class="badge">{loop="$fsc->num_facturas_cobradas()"}{$value["total"]}{/loop}</span>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
         <!-- Fin Fila 1 de widgets -->

      </section>
   </div>

{include="footer"}
